.Container {
  display: flex;
  border-bottom: 1px solid rgb(207, 199, 199);
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 12%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 6%);
}

.Wrapper {
  padding: 20px;
}

.Wrap {
  display: flex;
}

.Title {
  text-transform: uppercase;
  /* font-size: 30px; */
  color: #789;
  margin-bottom: 20px;
  margin-right: 10px;
}

.TitleData {
  font-size: 30px;
  color: #789;
}

.SubTitle {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.Text {
  margin-bottom: 10px;
}

.List {
  padding-left: 0px;
}

.Item:not(:last-child) {
  margin-bottom: 5px;
}

.Img {
  object-fit: cover;
  object-position: center;
}
